[user]
  name = Doug Lee
  email = douglee650@gmail.com
[color]
  ui = true
  status = true
  log = true
  diff = true
  branch = auto
[color "diff"]
  meta = yellow bold
  frag = cyan dim
  old = red bold
  new = green bold
[core]
  editor = /usr/bin/vim
  excludesfile = /Users/douglee2/.gitignore_global
  pager = less -r
[pull]
  rebase = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
